<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Update user</title>
</head>
<body>
<form th:object="${user}">
  <input readonly type="number" th:field="*{id}" id="id" placeholder="ID">
  <label for="id">ID</label>
  <br/>
  <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name" readonly>
  <label for="firstName">First name</label>
  <br/>
  <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name" readonly>
  <label for="lastName">Last name</label>
  <br/>
  <input type="text" th:field="*{email}" id="email" placeholder="Email" readonly>
  <label for="email">Email</label>
  <br/>
  <input type="text" th:field="*{username}" id="username" placeholder="Username" readonly>
  <label for="username">Username</label>
  <br/>
  <label>Roles</label>
  <br/>
  <select th:field="*{roles}" multiple>
    <option th:each="role :${allRoles}" th:value="${role.id}" th:text="${role.name}" ></option>
  </select>
  <br/>
  <a href="/logout">Logout</a>
</form>
</body>
</html>